body {
    background-image: url(../images/background-welcome.jpg);
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-size: 100%;
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    width: 99%;
    height: 99%;
    display: flex;
    flex-direction: column;
}

h1, h3 {
    color: darkred;
    font-size: 26px;
    text-transform: lowercase;
    word-wrap: normal;
}

ul {
    list-style-type:none;
    padding: unset;
    margin: unset;

}

a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-transform: lowercase;
}

a:hover {
    color: darkred;
    text-decoration: underline;
}

.today, .taste {
    background-color: seashell;
    width: 60%;
    height: fit-content;
    padding: 3%;
    opacity: 0.8;
    border: 5px solid darkslategrey;
}

.today {
    
    margin: 80% 10% 20% 25%;
}

.taste {
    z-index: 10;
    margin: 10% 30% auto auto;
}

@media only screen and (max-width: 480px) {
    body {
        background-image: url(../images/background-welcome-mob.jpg);
        background-color: antiquewhite;
        background-repeat: no-repeat;
        background-size: cover;
        width: 96%;
        box-sizing: border-box;
}


}