body {
    background-image: url(../images/austin-ban-IS6RwpuEJpY-unsplash.jpg);
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
    color: darkred;
    font-size: 16px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    
}

h1, h3 {
    color: black;
    font-size: 28px;
    text-transform: lowercase;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: darkred;
    font-size: 30px;
    text-transform: lowercase;
}

a:hover {
    color: black;
}

.today, .taste {
    background-color: #eba87d;
    min-width: fit-content;
    min-height: fit-content;
    padding: 10px 10px 10px 50px;
    border: 1px solid darkred;
}

.today {
    opacity: 0.9;
    margin-top: 40%;
    margin-left: 50%;
    position: relative;
}

.taste {
    opacity: 0.7;
    margin-top: 10%;
    margin-right: 30%; 
    position: relative;
}

@media only screen and (max-width: 480px) {
     
    .today {
        padding: 0 10px;
        margin-top: 80%;
        margin-left: 20%;
        font-size: 18px;
        font-size: 20px;
    }

    .taste {
        padding: 0 10px;
    }
  }